* {
    --primary-color: #437FB5;
}

body {
    font-family: "Roboto Regular", sans-serif;
    display: flex;
    align-items: flex-start;
    padding: 16px;
}

img {
    background-color: #ff0000;
    object-fit: none;
    width: 426px;
    height: 191px;
}

.panel {
    padding: 16px;
    background-color: var(--primary-color);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 24rem;
}

header {
    font-size: 2.5rem;
    border-bottom: 1px solid #ffffff4d;
}

header > span {
    display: block;
    font-size: .8rem;
    margin-top: .5rem;
    margin-bottom: 1.0rem;
}

.todo {
    display: flex;

    background-color: #ffffff;
    color: #ffcc00;
    /*transition: background-color 2s, color 0.5s;*/
    padding: 1rem;
    align-items: center;
}

.todo:hover {
    background-color: #ffcc00;
    color: #ffffff;
    /*transform: translateX(-50px);*/
}

.todo[data-done="true"] {
    background-color: rgba(255, 0, 0, 0.1);
}

.todo[data-done="true"]:hover {
    background-color: rgba(255, 0, 0, 0.4);
}

.todo > span {
    flex-grow: 1;
}

input {
    background: #394651;
    height: 3rem;
    /*animation: 2s linear infinite HeightAnimation;*/
}

input:hover {
    background: #00ff00;
    border: 1px solid #ff0000;
}

input:active {
    background: #00ffff;
    border: 1px solid #ff00ff;
}


input:focus {
    border: 2px solid #ffffff;
    /*animation: 2s linear infinite WidthAnimation;*/
}

.scroll {
    background: #345878;
    height: 175px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    /*overflow: scroll;*/
}

@keyframes HeightAnimation {
    0% {
        height: 3rem;
        background-color: #394651;
    }
    50% {
        height: 4rem;
        background-color: #00ff00;
    }
    100% {
        height: 3rem;
        background-color: #394651;
    }
}

@keyframes WidthAnimation {
    0% {
        width: 3rem;
        color: #394651;
    }
    50% {
        width: 4rem;
        color: #ff00bf;
    }
    100% {
        width: 3rem;
        color: #394651;
    }
}
